body{
  text-align: center;
}

h1 {
  margin-top: 50px;
  font-size: 5.625rem;
  margin: 25px auto 25px auto;
  font-family: 'Square Peg', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3, a {
  color: #11999E;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

.top_container {
    background-color: #e4f9f5;
    text-align: center;
    position: relative;
    padding-top: 100px;
}


.top_cloud {
  position: absolute;
  right: 100px;
  top: 50px;
}

.bottom_cloud {
  position: absolute;
  left: 100px;
  bottom: 300px;
}

.contact-me {
  background-color: #fffbe7
}

.bottom-container {
  background-color: #e78ea9;
}
